.containerGeralPr {
  display: flex;
  flex-flow: column wrap;
  height: auto;
  margin: 0;
  width: 100%;
}

.containerHeaderPr {
  align-items: center;
  background: linear-gradient(123.66deg, white 12.08%, #9b9c9cb4 86.52%);
  box-shadow: 0 0 26px inset rgba(245, 244, 244, 0.959);
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

.titleHeaderPr {
  background: url('../../images/logo.jpeg') no-repeat center;
  background-size: cover;
  box-shadow: 26px 26px 26px rgba(255, 255, 255, 0.945);
  color: rgba(0, 0, 0, 0);
  font-size: 8rem;
  height: 1;
  margin: 0 10px 10px 200px;
  text-align: center;
  text-decoration-line: none;
  width: 10rem;
}

.containerBtnCartPr {
  height: 100%;
  margin-right: 200px;
}

.btnCartPr {
  background: url('../../images/icons8-shopping-cart-48.png') no-repeat center;
  background-color: rgba(255, 255, 255, 0.356);
  border-color: white;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(243, 240, 240, 0.8);
  color: rgba(0, 0, 0, 0.781);
  padding: 20px 30px;
}

.btnCartPr:hover {
  background-color: rgba(255, 255, 255, 0.007);
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(243, 240, 240, 0.8);
}

.btnCartPr:disabled {
  background: #01218115 12.08%;
  color: rgba(255, 255, 255, 0.356);
}

.containerContentPr {
  align-items: center;
  background: rgba(245, 244, 244, 0.788);
  box-shadow: 0 0 26px inset rgba(245, 244, 244, 0.959);
  color:  #444955;
  display: flex;
  height: 600px;
  justify-content: space-evenly;
  margin: auto; 
  top: 19.4%;
  width: 100%;
}

.btnAddPr, .btnRatePr {
  background-color: #9b9c9cb4 0.356;
  border-color: white;
  border-style: outset;
  border-radius: 20px;
  border-width: 5px;
  box-shadow: 0 0 26px rgba(243, 240, 240, 0.8);
  color: rgba(0, 0, 0, 0.781);
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 20px 30px;
}

.btnAddPr:hover, .btnRatePr:hover {
  background-color: rgba(255, 255, 255, 0.007);
}

.productItemPr {
  align-items: center;
  background-color: white;
  border: 2px solid white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.205);
  color: #444955;
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  font-weight: 700;
  height: 90%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.445);
  top: 30%;
  width: 50%;
}

.imgP {
  height: 200px;
  margin: auto;
}

.containerFormPr {
  align-items:flex-start;
  background-color: white;
  border: 2px solid white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.205);
  color: #444955; 
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  font-weight: 700;
  height: 90%;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.445);
  width: 30%;
}

.txtInputPr {
  align-items: center;
  background-color: rgba(155, 156, 156, 0.1);
  border: 5px outset white;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(243, 240, 240, 0.8);
  box-sizing: border-box;
  color: #5a5959;
  font-size: 20px;
  font-weight: 700;
  height: 80%;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.inputEmailPr {
  background-color: rgba(155, 156, 156, 0.1);
  border: 5px outset white;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(243, 240, 240, 0.8);
  box-sizing: border-box;
  color: #5a5959;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  width: 100%;
}

.inputRate{
  color: #5a5959;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}